/* style.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.map {
    width: 70%;
    height: 100%;
}

.sidebar {
    width: 30%;
    padding: 20px;
    overflow-y: auto;
}

.expander {
    margin-top: 20px;
}

/* .expander pre {
    display: none;
} */

#DataContent {
    display:block;
}